In [1]:
import importlib
import subprocess

import Advanced_SQL as asql
import duckdb
import SQL as sql

_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:

1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [6]:
# qry = """  
# SELECT * FROM timeline
# """

# qry = sql.question_1()
# qry = sql.question_2()
# qry = sql.question_3()
# qry = sql.question_4()

#To verify question 5 we run question 5 once and then we run question 4 again to check if it is updated
# qry = sql.question_5()
# qry = sql.question_4()

#Reset DB for advancedSQL questions. Reset DB after each section
# qry = asql.question_1()
# qry = asql.question_2()

# To check question3 we run the query and then run the query SELECT * FROM financing to check contents
# qry = asql.question_3()

# To check question4 we run the query and then run the query SELECT * FROM timeline to check contents
# Using the hint and running SELECT * FROM timeline WHERE CustomerID = 1 we get 12 entries
# qry = asql.question_4()

# qry = asql.question_5()

# qry = asql.question_6()

# qry = asql.question_7()

with duckdb.connect("database/loan.db") as cursor:
    result_set = cursor.execute(qry).df()

result_set

       CustomerID MonthName  NumberOfRepayments  AmountTotal
0               6   January                   2        869.0
1              79   January                   1        291.0
2              90   January                   1        489.0
3             140   January                   1        115.0
4             238   January                   1        477.0
...           ...       ...                 ...          ...
11995         264  November                   1         53.0
11996         780  November                   1        471.0
11997         297  December                   1        243.0
11998         831  December                   1        202.0
11999         759  December                   1        109.0

[12000 rows x 4 columns]

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [8]:
load_script_path = "database/database_load.py"
subprocess.run(["python3", load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)